<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Register</title>
</head>
<body>
  <h1>This is the Register page</h1>
  <form action="/register" method="POST">
    Username: <input type="text" name="username" placeholder="Username" required><br>
    Email: <input type="email" name="email" placeholder="Email" required><br>
    Password: <input type="password" name="password" placeholder="Password" required><br>
    <input type="submit" value="Create Account">
  </form>
</body>
</html>