<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Collection</title>
</head>
<body>
  <h1>This is the Collection homepage</h1>
  <h1>Albums</h1>
  <% albums.forEach(album => { %>
    <h2>Album: <%= album.name %></h2>
    <img src="<%= album.art %>" height="400" width="400">
  <% }) %>
  <h1>Artists</h1>
  <% artists.forEach(artist => { %>
   <a href="/collection/artist/<%= artist._id %>"> <h2><%= artist.name %></h2></a>
  <% }) %>
</body>
</html>