<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Add Album</title>
</head>
<body>

  <%- include('../partials/nav') %>
  
  <h1>Add Album</h1>

  <form action="/collection" method="POST">
    Name: <input type="text" name="name"><br>
    Artist: <input type="text" name="artist"><br>
    Album Art: <input type="text" name="art"><br>
    About This Album: <br>
    <textarea name="testimony" type="text" placeholder="Talk about this album"></textarea>
    <input type="submit" value="Submit new album">
  </form>
</body>
</html>