<nav>
  <a href="/collection">View Collection</a>
  <a href="/collection/new">Add New Album</a>
  <form action="/logout?_method=DELETE" method="POST">
    <input class="logout-button" id="nav-logout" type="submit" value="Logout">
  </form>
</nav>