<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', { title: 'Welcome'}) %>
<body>

  <% if(user) { %>
    <p>Hi, <%= user.username %>!</p>

    <form action="/logout?_method=DELETE" method="POST">
      <input type="submit" value="Logout">
    </form>

  <% } else { %>

<div class="login-register-page">
  <div class="title-box">
    <h1>Welcome to our App!</h1>
  </div>
  
  <section class="album-container" id="auth-box">
    <a class="login-button" href="/login">Login</a>
    <a class="register-button" href="/register">Register</a>
  </section>
</div>


   <% } %>
</body>
</html>