<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', { title: 'Welcome'}) %>
<body>

  <% if(user) { %>

    <div class="login-register-page">
      <div class="title-box">
        <h1>Hi, <%= user.username %>!</h1>
      </div>
  
      <section class="album-container auth-box">
        <h3><a href="/collection">View Your Collection</a></h3>
        <form action="/logout?_method=DELETE" method="POST">
          <input class="logout-button" type="submit" value="Logout">
        </form>
      </section>
    </div>

  <% } else { %>

<div class="login-register-page">
  <div class="title-box">
    <h1>Welcome to Album Hub!</h1>
  </div>
  
  <section class="album-container auth-box">
    <a class="login-button" href="/login">Login</a>
    <a class="register-button" href="/register">Register</a>
  </section>
</div>


   <% } %>
</body>
</html>