
@font-face {
  font-family: "Clarendon Regular"; 
  src: url(fonts/clarendon-regular.otf) format("opentype");
}

:root {
  --red: #E22D57;
  --tan: #F6EBE5; 
  --purple: #462444; 
  --green: #219A7F; 
  --yellow: #F2F1AD; 
}

body {
  font-family: "Clarendon Regular"; 
  background-color: var(--tan); 
}

nav {
  background-color: var(--green); 
  height: 50px; 
  display: flex; 
  margin-bottom: 20px; 
}

nav a {
  margin: 20px; 
  text-decoration: none;
  color: var(--yellow)
}

.album-show__container {
  margin: 50px auto; 
  padding: 20px 40px; 
  max-width: 80%; 
  background-color: var(--red); 
  color: white; 
}

.action-row {
  display: flex;
  justify-content: space-around;
  margin: 20px;
  max-width: 400px;
}

.action-row form {
  margin: 0 20px; 
}

.action-row a {
  font-size: 25px; 
  text-decoration: none;
  padding: 10px 15px; 
  color: white; 
  background-color: var(--green)
}


.action-row input {
  font-size: 25px; 
  border: 0px; 
  background-color: var(--purple); 
  color: white; 
  padding: 10px 15px; 
}
